$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

/* ==========================================================================
   Custom styles
   ========================================================================== */

h2, h3, h4, p {
  font-family: 'asap', sans-serif;
}

p {
  font-size: 15px;
}

.bg {
   background-repeat: no-repeat;
  position: fixed;
  width: 90%;
  top: 0;
  left: 0;
}

.navbar-toggle {
  margin-top: 17px;
}

.jumbotron {
  background-image: url('../img/profilepic-sm.jpg');
  margin-top: 60px;
  margin-bottom: 0;
 /* background-position: 0 25%;*/
  background-size: cover;
  height: 500px;
  z-index: -1;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.header-text{  /* To create even spacing in the nav-bar header text */
  width: 100px;
  margin: 10px;
}

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  margin: 10px 10px;
}

.section-header,
.header-info {
  border-bottom: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.section-header {
  padding-top: 85px;
  padding-bottom: 5px;
  width: 100%;
}

ul {
  list-style-type: square;
}

.info, .screenshot-image {
  border: 1px solid rgb(221, 221, 221);
  border: 1px solid rgba(221, 221, 221, 1);
}

.info {
  margin: 15px 0;
}

.header-info {
  padding-bottom: 5px;
}

.image-info{
  padding: 15px 0;
}

img {
  max-width: 100%;
}

.smlogo {
  width: 50px;
}

.mobile-logo {
  margin-left: 24px;
}

.screenshot-image {
  -webkit-box-shadow: 3px 3px 0 rgba(10, 10, 10, .1);
  -moz-box-shadow:    3px 3px 0 rgba(10, 10, 10, .1);
  box-shadow:         3px 3px 0 rgba(10, 10, 10, .1);
}

.contact-me {
  text-align: center;
}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  right: -2px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0 1px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74c3c), to(#c0392b));
  background-image: -webkit-linear-gradient(top, #e74c3c, #c0392b);
  background-image:    -moz-linear-gradient(top, #e74c3c, #c0392b);
  background-image:     -ms-linear-gradient(top, #e74c3c, #c0392b);
  background-image:      -o-linear-gradient(top, #e74c3c, #c0392b);
  -webkit-box-shadow: 0 0 3px rgba(127, 140, 141,1.0);
  -moz-box-shadow:    0 0 3px rgba(127, 140, 141,1.0);
  box-shadow:         0 0 3px rgba(127, 140, 141,1.0);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}

#booking {
  margin: 0 auto;
}

/* media query to change header image on screens larger than minimum size */
@media (min-width: 769px) {
  .jumbotron {
    max-width: 100%;
    background-image: url('../img/profilepic.jpg');
  }
  .main {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.foot {
  display: inline;
}

/* Go To Top Button */

.go-top {
  position: fixed;
  bottom: 75%;
  right: 35px;
  color: #fff;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 18px;
  display: none;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 3px 0 rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 3px 0 rgba(50, 50, 50, 0.75);
}

.go-top:hover {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-decoration: none;
}
